[client-server]                                                                                        
# hardlink position to database socket and give port address
socket=/var/lib/mysql/mysql.sock
port=3306

#allow connection from anywhere
[mysqld]
bind-address=0.0.0.0
skip-networking = false
datadir=/var/lib/mysql

#verbose errorlog accessable from outside container in the volume
[mariadb]
log_warnings=4
log_error=/var/log/mysql/mariadb.err
