:root {
	--main-bg-color: black;
	--second-bg-color: #444040;
	--main-font-color: white;
	--first-highlight-color: #b04716;
	--second-highlight-color: #00cc00;
	--third-highlight-color: #a8b8fd;
	--leftofgame_fr: 0.2fr;
	--game_fr: 1fr;
	--sidewindow_fr: 0.2fr;
}

body {
    font-family: monospace;
	background: black;
	color: white;
	/* font-size: 12px; */
}

body, html {
	margin: 0;
	padding: 0;
	max-width: 100%;
    overflow-x: hidden;
}


button {
	align-items: center;
	background-color: #fff;
	border: 2px solid #000;
	box-sizing: border-box;
	/* color: #000; */
	font-family: monospace;
	cursor: pointer;
	display: inline-flex;
	height: 36px;
	justify-content: center;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	transition: all .4s;
	font-weight: 500;
	white-space: nowrap;
}

button:hover {
	border-color: var(--first-highlight-color);
	color: var(--first-highlight-color);
	fill: var(--first-highlight-color);
}

button:active {
	border-color: var(--first-highlight-color);
	color: var(--first-highlight-color);
	fill: var(--first-highlight-color);
}

/* highlighting text color */
::selection {
	background: var(--first-highlight-color);
  }