:root {
	--main-bg-color: black;
	--second-bg-color: #444040;
	--main-font-color: white;
	--first-highlight-color: #b04716;
	--leftofgame_fr: 0.2fr;
	--game_fr: 1fr;
	--sidewindow_fr: 0.2fr;
}

body {
    font-family: monospace;
	background: black;
	color: white;
}

body, html {
	margin: 0;
	padding: 0;
}